<header>
  <h1>Tecnologías y Sistemas Web 24/25</h1>
  <h2>Cliente Facturas</h2>
</header>

<article>
  <nav class="navbar">
    <ul>
      <li><a id="homeLink" href="cliente-home.html">Inicio</a></li>
      <li><a id="carritoLink" href="cliente-carrito.html">Carro</a></li>
      <li><a id="facturasLink" href="cliente-lista-compras.html">Facturas</a></li>
      <li><a id="perfilLink" href="cliente-perfil.html">Perfil</a></li>
      <li><a id="salirLink" href="invitado-home.html">Salir</a></li>
    </ul>
  </nav>

  <div class="contenido">
    <div class="info">
      <div class="mensajes-container" id="mensajesContainer"></div>

      <div class="facturas-tabla-wrapper">
        <table>
          <thead>
            <tr>
              <th class="col-numero">Número</th>
              <th class="col-fecha">Fecha</th>
              <th class="col-total">Total</th>
              <th class="col-acciones"></th>
            </tr>
          </thead>
          <tbody id="tabla-facturas"></tbody>

          <tfoot>
            <tr>
              <th colspan="3" id="total-factura">Total</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>

    <footer>
      Prof. Dr. Ricardo Tesoriero Pszytula<br />
      Tecnologías y Sistemas Web 24/25<br />
      Universidad de Castilla-La Mancha<br />
      <small>20 de septiembre de 2021</small>
    </footer>
  </div>
</article>
