/* Colores
#6f4626, #f9801a, #e0d12b, #f5f08a, #7dbe7c 
*/

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

main {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

/**
* Anchors
*/

a:link {
  color: black;
}

a:visited {
  color: black;
}

/**
* Main
*/

main {
  display: flex;
  flex-direction: column;
  /* align-items: stretch; */
}

main>header {
  margin-left: 120px;
}

main>header>h1 {
  text-align: center;
}

main>header>h2 {
  text-align: center;
}

main>article {
  display: flex;
  flex-grow: 1;
}

main>article>div.contenido {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

}

main>article>div.contenido>div.info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-left: .5em;
  margin-top: .5em;
  align-items: flex-start;
  width: 100%;
}

main>article>div.contenido>footer {
  text-align: center;
  margin-top: 16px;
  border-top: 1px solid black;
  padding-top: 16px;
  padding-bottom: 24px;
}

/**
* Mensajes
*/
main>article>div.contenido>div.info>mensajes-container {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  width: 100%;

}

/**
* Navbar
*/

nav.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 1em 0 0 0;
  width: 120px;
}

nav.navbar ul li {
  margin: 0;
  margin-bottom: 8px;
  padding: 0.5em;
  /* margin-left: .5em;
  margin-right: .5em; */
  border-right: 0.5em solid chocolate;
  border-left: 0.5em solid chocolate;
}

nav.navbar ul a {
  text-decoration: none;
  display: inline-block;
}

nav.navbar ul li:hover {
  /* background-color: lightgray; */
  border-right: 0.5em solid #6f4626;
  border-left: 0.5em solid #6f4626;
  margin-left: 0;
  margin-right: 0;
}

/**
* Toolbar
**/
nav.toolbar ul li.oculto {
  display: none;
}

nav.toolbar ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
  margin: 1em 0 0 0;
  display: flex;
}

nav.toolbar ul li {
  padding: 0.25em;
  display: block;
  width: 100px;
  text-align: center;
  /* margin-bottom: .5em; */
  border-bottom: 0.5em solid chocolate;
  margin-left: .5em;
}

nav.toolbar ul a {
  text-decoration: none;
  display: block;
}

nav.toolbar ul li:hover {
  border-bottom: 0.5em solid #6f4626;
  margin-bottom: 0;
}

/**
* Form
*/

form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  width: 100%;
}

form header {
  display: flex;
  justify-content: center;
}

form footer {
  display: flex;
  justify-content: end;
}

.boton,
form>footer>input[type=submit] {
  border: none;
  padding: .5em;
  color: black;
  border-right: solid 1em chocolate;
  border-left: solid 1em chocolate;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  display: inline-block;
}

form>footer>input[type=submit]:hover {
  border-right: solid 1em #6f4626;
  border-left: solid 1em #6f4626;
}

form textarea,
form input[type=password],
form input[type=email],
form input[type=text],
form input[type=number],
form input[type=date] {
  padding: 8px 12px;
  margin: 4px 0;
  border-radius: 4px;
  border: 1px SOLID chocolate;
}

form select {
  padding: 8px 12px;
  margin: 4px 0;
  border-radius: 4px;
  border: 1px SOLID chocolate;
}

form label {
  color: #6f4626;
  font-weight: bold;
}

/* Form group para distribución de campos */
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
}

/* Formulario de factura con layout específico */
#formPago {
  display: block;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

#formPago h3 {
  margin: 0 0 16px 0;
}

/* Contenedor invisible para mantener los campos en línea */
#formPago::after {
  content: "";
  display: table;
  clear: both;
}

/* Contenedor para los dos primeros campos (fecha y DNI) en una fila */
#formPago .form-group:nth-of-type(1) {
  display: inline-flex;
  flex-direction: column;
  width: calc(50% - 8px);
  margin-right: 16px;
  vertical-align: top;
  float: left;
}

#formPago .form-group:nth-of-type(2) {
  display: inline-flex;
  flex-direction: column;
  width: calc(50% - 8px);
  vertical-align: top;
  float: left;
}

/* Resto de campos ocupan todo el ancho */
#formPago .form-group:nth-of-type(n+3) {
  display: flex;
  flex-direction: column;
  width: 100%;
  clear: both;
}

/**
* Mensajes
*/

div.mensajes-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

div.mensajes {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 4px 0;
  width: 100%;
}

/**
* Mejoras para mensajes con botón cerrar
* AÑADIR o REEMPLAZAR en la sección de mensajes de estilo.css
*/

.error,
.log,
.warn,
.message {
  border-radius: 5px;
  padding: 10px 35px 10px 10px; /* Espacio a la derecha para la X */
  word-wrap: break-word;
  word-break: break-all;
  position: relative; /* Para posicionar la X */
  margin-bottom: 5px;
}

.error {
  border: 1px solid RED;
  color: darkred;
  background-color: lightcoral;
}

.log {
  border: 1px solid black;
  color: black;
  background-color: lightgray;
}

.warn {
  border: 1px solid orange;
  color: darkorange;
  background-color: lightyellow;
}

.message {
  border: 1px solid green;
  color: darkgreen;
  background-color: lightgreen;
}

/* Botón X para cerrar */
.x {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  padding: 0 6px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  color: inherit;
  opacity: 0.6;
  transition: opacity 0.2s ease, transform 0.2s ease;
 
}

.x:hover {
  opacity: 1;
  transform: translateY(-50%) scale(1.2);
}

.x:active {
  transform: translateY(-50%) scale(0.9);
}

/**
* Catalogo
*/

.catalogo {
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex-wrap: wrap;
}

.libro {
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: SOLID 1px #6f4626;
  width: 200px;
}

.libro p.titulo {
  font-weight: bold;
  background-color: #6f4626;
  color: white;
  padding: 1em;
  margin: 0;
}

.libro p.autores {
  font-style: italic;
  background-color: #7dbe7c;
  padding: 0.5em 1em;
  margin: 0;
  word-wrap: break-word;
}

.libro p.isbn {
  font-size: x-small;
  font-style: italic;
  text-align: right;
  margin: 0;
  padding: 0.25em 1em;
}

.libro p.precio {
  font-style: bolder;
  font-size: larger;
  text-align: right;
  margin: 0;
  padding: 0.25em 1em;
}

.libro img.portada {
  width: 200px;
  height: 200px;
  padding: 0;
  margin: 0;
  vertical-align: top;
}

.libro footer {
  display: flex;
  justify-content: end;
  margin: 8px;
}

/**
* Ver Libro (detalle)
*/

.detalle label {
  font-weight: bold;
}

.detalle img.portada {
  width: 200px;
  height: 200px;
  padding: 0;
  margin: 0;
  vertical-align: top;
}

/* ======= BLOQUE OPCIONAL: estilos alternativos de tabla (no usados en carrito actual) ======= */
.carrito-table {
  width: 150%;
  margin: 0 auto; /* centrar dentro del bloque */
  border-collapse: collapse;
  border: 1px solid #ccc;
}

.carrito-table thead {
  background-color: #f5f5f5;
  border-bottom: 2px solid #333;
}

.carrito-table thead th {
  padding: 12px;
  text-align: left;
  font-weight: bold;
  border-right: 1px solid #ccc;
}

.carrito-table thead th:last-child {
  border-right: none;
}

.carrito-table tbody tr {
  border-bottom: 1px solid #ddd;
}

.carrito-table tbody tr:hover {
  background-color: #f9f9f9;
}

.carrito-table tbody td {
  padding: 12px;
  border-right: 1px solid #ddd;
}

.carrito-table tbody td:last-child {
  border-right: none;
}

.carrito-table .col-cant {
  text-align: center;
  width: 80px;
}

.carrito-table .col-detalle {
  flex: 1;
  text-align: left;
}

.carrito-table .col-unidad {
  text-align: right;
  width: 100px;
}

.carrito-table .col-total {
  text-align: right;
  width: 100px;
  font-weight: bold;
}

.carrito-table input.qty-input {
  width: 60px;
  padding: 6px;
  border: 1px solid #999;
  border-radius: 4px;
  text-align: center;
}

.carrito-table tfoot {
  border-top: 2px solid #333;
  background-color: #f9f9f9;
  font-weight: bold;
}

.carrito-table tfoot tr {
  border-bottom: 1px solid #ddd;
}

.carrito-table tfoot td {
  padding: 12px;
  border-right: 1px solid #ddd;
  text-align: right;
}

.carrito-table tfoot td:last-child {
  border-right: none;
}

/* Resaltar la fila TOTAL */
.carrito-table tfoot tr.total-row {
  background-color: #f5f08a; /* amarillo suave del esquema */
  border-top: 3px solid #6f4626;
}
.carrito-table tfoot tr.total-row td {
  font-weight: 800;
  color: #333;
}

/* ======= FIN bloque opcional ======= */

/* Contenedor de acciones del carrito */
.carrito-actions {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

/* Botón de pago: se mantiene visualmente después del carrito aunque esté dentro del form */
#formPago .carrito-actions {
  width: 100%;
  max-width: 1300px;
  margin: 16px auto 0;
  text-align: center;
}

.hidden {
  display: none !important;
}

/* Centrar contenido del detalle (tabla + acciones) */
.detalle {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start; 
}

/**
* Carro
*/

.carro {
  width: 150%;
  height: 100%;
}

/* NUEVO: centrar el contenedor del carrito en esta vista */
.carrito-detalle .carro {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;        /* centra horizontalmente */
}

.carro table {
  width: 100%;           
  height: 100%;
  padding: 4px;
  border-collapse: collapse;
  table-layout: fixed;   
}

.carro tfoot {
  border-top: 1px solid black;
  /* border-bottom: 1px solid black; */
}

.carro thead {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  text-align: center;

}

.carro th,
.carro td {
  padding: 4px;
  vertical-align: middle;

}

.carro tr,
.item-detalle {
  width: 100%;
}

.carro tfoot th:first-child {
  text-align: center;
}

.carro tbody {
  /* .carro tbody tr:last-child { */
  height: 100%;
}

.carro .item-cantidad,
.carro .item-unidad,
.carro .item-total,
.carro .iva,
.carro .total {
  text-align: center;
}

.carro .item-cantidad { width: 90px; text-align: center; }
.carro .item-unidad { width: 110px; text-align: right; }
.carro .item-total  { width: 110px; text-align: right; }
.carro .item-detalle { width: auto; text-align: left; }

.borrado {
  text-decoration: line-through;
  color: red;
}

.carro input[type=number] {
  padding: 8px 12px;
  margin: 4px 0;
  border-radius: 4px;
  border: 1px SOLID chocolate;
  width: 3em;
  text-align: center;
}

.carrito-actions {
  width: 75%;
  max-width: 900px;
  margin: 16px auto 0;
  text-align: center;
}

/**
* Factura
*/

div .factura-field {
  display: flex;
  gap: 8px;
  align-items: baseline;
}

div .factura-field>input {
  flex-grow: 1;
}

/**
* Botones dentro de .info
*/
.info .button {
  border: none;
  padding: .5em 1em;
  color: black;
  border-right: solid 1em chocolate;
  border-left: solid 1em chocolate;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  display: inline-block;
  transition: all 0.2s ease-in-out;
}

.info .button:hover {
  border-right: solid 1em #6f4626;
  border-left: solid 1em #6f4626;
}

.info .button a {
  color: black;
  text-decoration: none;
}

.carrito-detalle #mensajesContainer,
.carrito-detalle .carro,
.carrito-actions {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;   /* centra horizontalmente */
}

/* Tabla del carro */
.carro table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.carro thead th { 
  vertical-align: middle;
  border-bottom: 1px solid #000;
}

/* Alineaciones por columna (como en la referencia) */
.carro .item-cantidad   { width: 90px;  text-align: center; }
.carro .item-detalle    {              text-align: left;   }
.carro .item-unidad     { width: 110px; text-align: right;  }
.carro .item-total      { width: 110px; text-align: right;  }

.carro td, .carro th { vertical-align: middle; padding: 4px; }
.carro input[type=number] { text-align: center; }

/* Pie: totales a la derecha, bajo las columnas “Unidad/Total” */
.carro tfoot td {
  text-align: right;           /* Números a la derecha */
  border-top: 1px solid #000;  /* línea separadora */
}

/* Mantén las dos primeras celdas del pie como “espaciador” a la izquierda */
.carro tfoot td:nth-child(1),
.carro tfoot td:nth-child(2) {
  text-align: left;   /* por si algún texto cae ahí */
  width: auto;
}

/* Opcional: botón con la misma caja de ancho que la tabla */
.carrito-actions {
  margin: 16px auto 0;
  text-align: center;
}
