<header>
  <h1>Tecnologías y Sistemas Web 24/25</h1>
  <h2 id="verLibroTitulo">Carrito Cliente</h2>
</header>
<article>
  <nav class="navbar">
    <ul>
      <li><a id="homeLink" href="cliente-home.html">Inicio</a></li>
      <li><a id="carritoLink" href="cliente-carrito.html">Carro</a></li>
      <li><a id="facturasLink" href="cliente-facturas.html">Facturas</a></li>
      <li><a id="perfilLink" href="cliente-perfil.html">Perfil</a></li>
      <li><a id="salirLink" href="invitado-home.html">Salir</a></li>
    </ul>
  </nav>
  <div class="contenido">
    <nav class="toolbar">

         <!--<ul>
            <li><a id="carritoLink" href="cliente-carrito.html">Agregar a carrito</a></li>
        </ul>
     <ul>
         <li><a id="homeLink" href="index.html">Inicio</a></li>
        <li><a id="ingresoLink" href="ingreso.html">Ingreso</a></li>
        <li><a id="registroLink" href="registro.html">Registro</a></li> 
      </ul>-->
    </nav>
    <div class="info">
      <div class="mensajes-container" id="mensajesContainer"></div>
      <div id="detalle" class="detalle">
        <!-- Tabla del carrito: Cant., Detalle, Unidad, Total -->
        <table class="carrito-table">
          <thead>
            <tr>
              <th class="col-cant">Cant.</th>
              <th class="col-detalle">Detalle</th>
              <th class="col-unidad">Unidad</th>
              <th class="col-total">Total</th>
            </tr>
          </thead>
          <tbody id="carritoItems">
            <!-- Filas generadas dinámicamente -->
          </tbody>
          <tfoot id="carritoTotales">
            <tr>
              <td colspan="2"></td>
              <td>Subtotal</td>
              <td id="subtotalCell">0,00</td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td>IVA (21%)</td>
              <td id="ivaCell">0,00</td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td>Total</td>
              <td id="totalCell">0,00</td>
            </tr>
          </tfoot>
        </table>
        <div id="carritoEmpty" class="info hidden">El carrito está vacío.</div>
      </div>
    </div>
    <footer>
      Prof. Dr. Ricardo Tesoriero Pszytula<br>
      Tecnologías y Sistemas Web 24/25<br>
      Universidad de Castilla-La Mancha<br>
      <small>20 de septiembre de 2021</small>
    </footer>
  </div>
</article>